/* 
    Created on : 16 Aug, 2020, 9:35:00 PM
    Author     : ANJALI
*/
#intro_banner{
    width: 108%;
    height: 100%;
    margin-top: 60px;
    background: url(../img/intro.png) no-repeat center ;
    background-size: cover;
}

.myIntroContainer{
    margin: 7% 5% 2% 10%;
    width: 80%;
    background-color: #dfe7ed;
    height: 700px;
    border: 2px whitesmoke solid;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px ;
}

.intro_name{
    margin-top: 170px;
    font-size: 50px;
}
